@use 'style';

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1024px;
  height: 768px;
  border: rgba(0, 0, 0, 0.2) solid 3px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.2);
}