@use 'style';

.page-content{
  width: 100%;
  display: flex;
  flex-direction: column;

  &_wrapper-question{
    background-color: rgba(255, 255, 255, 0.03);
    display: grid;
    grid-template-columns: 18.7rem 1fr;
    height: 32.4rem;
  }
  
  &__question{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: Sawarabi_Gothic;
    margin: 1rem;
    padding: 1rem;
    color: #fff;
  }
  &__info{
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.05);
  }
  &__cards{
    height: 32.4rem;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 18rem 1fr;
    overflow: hidden;

    &_answer{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;
      justify-content: space-between;
    }
  }
}
.card_answer{
  justify-content: center;
  width: 14.7rem;
  height: 14.7rem;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  font-family: Sawarabi_Gothic;
  border-radius: 1rem;
  text-align: center;
  transition: background-color 0.5s;
  &:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }

}
