.button__user{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 7rem;
  font-size: 2rem;
  font-family: Sawarabi_Gothic;
  background: linear-gradient(180deg, #FFCC4A 0%, #FF6400 100%);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0.7rem;
  opacity: 100%;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
  &:hover{
    cursor: pointer;
    opacity: 90%;
  }
}
.user__name{
  width: 25rem;
  height: 4rem;
  background-color: rgb(235, 210, 210);
  font-size: 2rem;
  font-family: Sawarabi_Gothic;
  border-radius: 0.7rem;
  border: 2px solid black;
  padding: 0 0 0 1rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
}
.page{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1024px;
  min-width: 1024px;
  height: 768px;
  &__content{
    width: 100%;
    margin: 0 auto;
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: auto;
    justify-content: center;
    align-items: center;

  }
}